

body{
    font-family: sans-serif;
    padding: 0%;
    margin: 0px;
}

html{
    padding: 0%;
    margin: 0px;
}

#nav-bar{

background-color: red;
position: sticky;
top: 0;
z-index: 0;

}

.navbar-brand{
    font-family: 'Lucida Grande';
    padding: 30px;
}

.logo{
    height: 60px;
}

.navbar{
background-image: linear-gradient(to right, pink, white);
padding: 0 !important;
}

.navbar-nav li{
    padding: 0 30px;

}

.navbar-nav li a{
font-weight: 550;
float: right;
text-align: left;
}

.navbar-toggler-icon{
    font-size: 30px;
    color: aliceblue !important;
}
.navbar-toggler{
    border: none !important;
}

  /* ------------banner section--------------- */

#banner{
    background-image: linear-gradient(to right, pink, white);
    padding-top: 5% ;
   
}


.banner-info{
    padding-top: 15%;
}


.promo-title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 0px;

}

.cs-student{
    color: #F33A6A;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 0px;
    }

.bay-area{
    font-size: 25px;
    font-weight: 450;
    margin-bottom: 0px;
}
    

.banner-img{
    height: 600px;
    margin-bottom: 40px;

}

.wave-img{
width: 100%;
height: 300px;
}

.hire-me{
background-color: #F33A6A !important;
color: white;
margin-top: 10px;
}



/* -----------About me-----------? */
#about{
    padding: 50px 0;
}

.title::before{
    content: '';
    background-color: #F33A6A;
    height: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);

}

.title::after{
    content: '';
    background-color: #F33A6A;
    height: 10px;
    width: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(7px);
}


.title{
    font-weight: 600;
}

.title:hover{
    color: #F33A6A;
}

.info{
    margin-bottom: 10px;
}



/* ------------education------------ */

#education{
    padding: 50px 0;
    
}

.row.space-top{
    padding-top: 60px !important;
}




/* ------------Skills-------------- */
#skills{
    padding: 50px 0;
}

.skills-img{
    width: 400px;
    height: 300px;
}

.skills-img:hover{
 background-image: #F33A6A;
}



/* ---------work-experience--------- */

.pink-effect{
    /* transition: background-image 0.9s ; */
    transition: background-image 0.3s ease;

    background-color: white;
}

.pink-effect:hover{
    background-image: linear-gradient(to right, pink, white);
  
    /* transform: scale(1.02); */
}

#work-experience{
    padding: 50px 0;
    
}

.work-experience{
    font-weight: 600;

}
.work-experience:hover{
    color: #F33A6A;
}

.scale-up{
    transition: transform 0.3s ease;
}

.scale-up:hover{
    transform: scale(1.02);
}





/* ---------contact--------- */
#contact{
    padding: 50px 0;
}


.fa-instagram{
    background-color: #F33A6A;
}

.social-icons{
    font-size: 40px;
    color: black;
    padding-right: 10px;
    /* padding-top: 0px; */
    transition: color 0.3s ease;
}

.social-icons:hover{
    color: #F33A6A;

}


/* ---------footer--------- */

#footer .logo{
    width: 150px;
    margin-bottom:30px;
}

#footer{
    margin-bottom: 50px;

}

#footer .social-icons{
    font-size: 20px;
}

#footer li{
    list-style: none;
}

.link-color{
color: black;
}
.link-color:hover{
    color: #F33A6A;
}


.pink-background{
    background-image: linear-gradient(to right, pink, white);
    padding: 30px;

}